<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="app.js" />
  </head>
  <body>
    <h1>{{.Name}}</h1>
    <h1>Info {{.Info.Address}}</h1>
    <h1>Phone : {{.Info.Phone}}</h1>
  </body>
</html>
